@charset "utf-8";

/* 초기화 */
html,
body,
h1,
h2,
h3,
ul,
ol,
p,
a {
    margin: 0;
    padding: 0;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: #333;
}

.clear_fix::after {
    display: block;
    content: "";
    clear: both;
}

.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.shortening {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 모든해상도 공통적용코드 */

/* 헤더영역 */
.header {
    position: relative;
    background-color: #fff;
}

.header_box .logo_box {
    float: left;
    height: 50px;
    width: 94px;
    padding: 20px 20px 0 0px;
}

.logo_box .logo {
    background: url(../image/logo_m.png)no-repeat;
    background-size: contain;
    height: 100%;
}

.header_box .tab_box {
    display: none;
}

.header_box .menu_box {
    float: right;
    width: 50%;
    height: 100%;
}

.header_box .menu_box li {
    float: right;
    font-size: 18px;
    line-height: 70px;
}

.menu_box li a {
    display: block;
    padding: 0 20px 0 20px;
}

.header .header_menu {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50px;
    display: none;
    padding: 10px 0 10px 0;
    height: 108px;
    background: #fff;
}

/* 메인배너영역 */
.main_banner_box {
    background-color: #ffee02;
}

.main_banner {
    display: block;
    height: 100%;
}

.banner_image_box img {
    width: 100%;
    height: 100%;
}

.main_banner .info_box .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_banner .info_box .underline {
    border-bottom: 1px solid black;
    width: 43px;
    margin-top: 25px;
}

.main_banner .info_box .profile_box {
    width: 150px;
}

.profile_box .profile {
    float: left;
    background: url(../image/thumbnail_profile_none.jpg)no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: relative;
    top: -6px;
}

.profile_box .profile::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background: url(../image/thumbnail_profile.jpg)no-repeat;
    background-size: contain;
}

.profile_box .profile_name {
    float: left;
    margin-left: 10px;
}

/* 메인리스트영역 */

.main_list_box {
    background-color: #f0f0f0;
}

.main_list {
    padding: 20px 0 20px 0;
}

.main_list .img_box .image {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 10%);
    box-sizing: border-box;
}

.main_list .img_box {
    display: block;
    text-align: center;
}

.main_list .showmore_btn {
    border-style: none;
    background-color: #fff;
    width: 100%;
    height: 60px;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.main_list .showmore_btn .icon {
    width: 16px;
    height: 21px;
    position: relative;
    top: 3px;
}

/* 매인폼 영역 */
.main_form_box {
    background-color: #f4f5f7;
}

.main_form .title_box {
    padding-bottom: 20px;
    text-align: center;
}

.main_form .title_box .title {
    padding-bottom: 10px;
}

.main_form .form_box {
    position: relative;
    background: #fff;
    text-align: left;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.main_form .form_box label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    padding: 25px 0 15px 0;
}

.main_form .form_box input[type="text"] {
    border-style: none;
    border-bottom: 1px solid #c1c1c1;
    font-size: 14px;
    color: #333;
    padding-bottom: 8px;
    width: 100%;
}

.main_form .form_box .nickname_input {
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #acacac;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    color: #acacac;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
    color: #acacac;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
    color: #acacac;
}

.email_box {
    padding-bottom: 25px;
}

.email_box .id_form {
    float: left;
    width: 50%;
}

.email_box .select_form {
    position: relative;
    width: 50%;
    text-align: left;
    border-bottom: 1px solid #c1c1c1;
    float: right;
}

.email_box .select_form select {
    width: 100%;
    height: 100%;
    border: 0 none;
    font-size: 14px;
    color: #333;
    -webkit-appearance: none;
    margin-left: -15px;
    padding-bottom: 7px;
}

.email_box .select_form::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 11px;
    top: 19px;
    left: -21px;
    background: #fff;
}

.email_box .select_form::after {
    position: absolute;
    content: "";
    top: 6px;
    right: 0;
    background: url(../image/icon_arrow_email.png)no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}

.main_form .userTextarea {
    border: 1px solid #c1c1c1;
    padding: 10px 10px 0 10px;
}

.main_form .userTextarea textarea {
    width: 100%;
    resize: none;
    border: 0 none;
    padding: 0;
}

.main_form .send_box {
    position: absolute;
    top: 15px;
    right: 50px;
    border: 2px solid #bdbdbd;
    background-color: #e9e9e9;
    font-size: 15px;
    color: #666;
    padding: 5px 10px 5px 10px;
}

/* 매인공지사항영역 */
.main_notice_box {
    background-color: #f0f0f0;
}

.main_notice .title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.main_notice div {
    padding-bottom: 20px;
}

.main_notice .left,
.main_notice .right {
    font-size: 14px;
}

.notice .left {
    float: left;
    width: 80%;
}

.notice .right {
    float: right;
}

.notice nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}

.creators .left,
.partners .left {
    border-right: 1px solid #c1c1c1;
    padding-right: 10px;
    font-size: 14px;
}

.creators .right,
.partners .right {
    padding-left: 5px;
}

/* 뷰 제목영역 */
.view_title_box {
    background-color: #f0f0f0;
}

.view_title {
    border-bottom: 1px solid #c1c1c1;
}

.view_title .title {
    font-weight: bold;
}

.view_title .left {
    font-size: 14px;
    float: left;
    font-weight: bold;
    color: #767676;
}

.view_title .right {
    font-size: 14px;
    color: #666;
    width: 65%;
    float: right;
}

.view_title .digit {
    font-family: tahoma;
}

.view_title li {
    padding-bottom: 10px;
}

/* 뷰 정보영역 */
.food_info_box {
    padding: 0 15px 0 15px;
    background-color: #f0f0f0;
}

.food_info {
    padding-bottom: 30px;
}

.food_info .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.food_info .info {
    font-size: 14px;
    color: #666;
    line-height: 23px;
}

.food_info a {
    font-size: 14px;
    color: #3b9a7b;
    display: inline-block;
    margin-top: 5px;
}

/* 푸터영역 */
.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.footer ul {
    width: 290px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer li {
    float: left;
    font-size: 14px;
    color: #333;
}

.footer li:nth-child(n+2) {
    margin-left: 15px;
}

.footer .rights {
    font-size: 14px;
    color: #333;
}

.footer .rights .highlight {
    font-weight: bold;
}


/* 320px 이상 && 768px미만 */

@media (min-width:320px) and (max-width:767px) {

    /* 헤더영역 */
    .header .logo_box {
        height: 30px;
        padding: 10px;
    }

    .header .tab_box {
        display: block;
        float: right;
        width: 46px;
        height: 50px;
        padding: 13px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header .tab_box .tab {
        background: url(../image/icon_menu.png)50% no-repeat;
        background-size: contain;
        height: 100%;
    }

    .header_box .menu_box {
        display: none;
    }

    .header_menu.active {
        display: block;
    }

    .header_menu li {
        height: 36px;
        font-size: 18px;
    }

    .header_menu a {
        display: block;
        height: 100%;
    }

    /* 매인베너 영역 */
    .main_banner {
        text-align: center;
    }

    .banner_image_box {
        padding-top: 20px;
    }

    .banner_image_box img {
        width: 250px;
        height: 180px;
    }

    .main_banner .info_box {
        padding: 0 35px 30px 35px;
    }

    .main_banner .info_box .underline {
        margin: 15px auto 0;
    }

    .main_banner .info_box .title {
        font-size: 22px;
        line-height: 28px;
        -webkit-line-clamp: 2;
        max-height: 56px;
    }

    .main_banner .info_box .profile_box {
        padding-top: 25px;
        margin: 0 auto;
    }

    .main_banner .profile_box .profile_name {
        font-size: 16px;
    }

    /* 매인리스트 영역 */

    .main_list .img_list .list {
        padding-bottom: 15px;
    }

    .main_list .img_box {
        margin: 0 15px 0 15px;
    }

    .main_list .img_box .image_title_box h2 {
        font-size: 14px;
    }

    .main_list .img_box .image_title_box {
        line-height: 40px;
    }

    .img_box .image_title_box h2 {
        font-size: 14px;
    }

    .main_list .shower_btn_box {
        padding: 0 15px 0 15px;
    }

    /* 매인 폼영역 */
    .main_form {
        padding: 30px 15px 25px 15px;
    }

    .main_form .title_box .subtitle {
        font-size: 14px;
    }

    .main_form .title_box .title {
        font-size: 22px;
    }

    .main_form .form_box {
        padding: 0 25px 25px 25px;
    }

    .main_form .send_box {
        font-size: 11px;
        right: 25px;
    }

    /* 매인공지사항 영역 */
    .main_notice {
        padding: 20px 15px 0 15px;
    }

    .view_title {
        padding-bottom: 5px;
    }

    /* 뷰 제목영역 */
    .view_title_box {
        padding: 30px 15px 20px 15px;
    }

    .view_title .title {
        font-size: 28px;
        padding-bottom: 15px;
    }

    .view_title .category {
        width: 320px;
    }
}

/* 768px이상 && 1024 */
@media (min-width:768px) and (max-width:1023px) {

    /* 헤더영역 */
    .header .logo_box {
        height: 30px;
        padding: 10px;
    }

    .header_box .menu_box li {
        line-height: 50px;
    }

    /* 매인베너 영역 */
    .main_banner_box {
        height: 330px;
    }

    .main_banner .banner_image_box {
        margin: 39px 34px 0 0;
        width: 350px;
        height: 252px;
        float: right;
    }

    .main_banner .info_box {
        padding: 60px 0 0 34px;
    }

    .main_banner .info_box .title {
        font-size: 32px;
        line-height: 40px;
        max-height: 120px;
        -webkit-line-clamp: 3;
    }

    .main_banner .info_box .profile_box {
        padding-top: 35px;
    }

    .info_box .profile_box .profile_name {
        font-size: 18px;
    }

    /* 매인리스트 영역 */
    .main_list .img_list .list {
        width: 50%;
        float: left;
    }

    .main_list .img_list .list {
        padding-bottom: 20px;
    }

    .img_list .list:nth-child(2n+1) a {
        margin-left: 34px;
        margin-right: 10px;
    }

    .img_list .list:nth-child(2n) a {
        margin-left: 10px;
        margin-right: 34px;
    }

    .main_list .img_box .image_title_box h2 {
        font-size: 18px;
    }

    .img_box .image_title_box {
        line-height: 50px;
    }

    .main_list .shower_btn_box {
        padding: 0 34px 0 34px;
    }

    /* 매인 폼영역 */
    .main_form {
        padding: 30px 34px 30px 34px;
    }

    .main_form .title_box .subtitle {
        font-size: 18px;
    }

    .main_form .title_box .title {
        font-size: 30px;
    }

    .main_form .form_box {
        padding: 0 50px 50px 50px;
    }

    /* 매인공지사항 영역 */
    .main_notice {
        padding: 20px 34px 0 34px;
    }

    .main_notice .creators .title,
    .main_notice .partners .title {
        float: left;
        margin-right: 20px;
    }

    /*  뷰 제목영역 */
    .view_title_box {
        padding: 30px 15px 30px 15px;
    }

    .view_title {
        padding-bottom: 20px;
    }

    .view_title .category {
        width: 685px;
    }

    .view_title li {
        float: left;
        width: 50%;
    }

    .view_title .title {
        font-size: 36px;
        padding-bottom: 20px;
    }
}

@media (min-width:1024px) {

    /* 헤더영역 */
    .header_box {
        height: 70px;
        width: 988px;
        margin: 0 auto;
    }

    .header_box .menu_box li a:hover {
        font-weight: bold;
        font-size: 22px;
    }

    .logo_box .logo {
        background: url(../image/logo_pc.png)no-repeat;
        background-size: contain;
    }

    /* 매인베너 영역 */
    .main_banner {
        width: 988px;
        margin: 0 auto;
    }

    .main_banner_box {
        height: 420px;
    }

    .main_banner .banner_image_box {
        margin-top: 30px;
        width: 500px;
        height: 360px;
        float: right;
    }

    .main_banner .info_box {
        padding-top: 80px;
    }

    .main_banner .info_box .title {
        width: 460px;
        height: 156px;
        font-size: 40px;
        line-height: 52px;
        max-height: 156px;
        -webkit-line-clamp: 3;
    }

    .main_banner .info_box .profile_box {
        padding-top: 35px;
    }

    .info_box .profile_box .profile_name {
        font-size: 18px;
    }

    /* 매인리스트 영역 */
    .main_list {
        width: 988px;
        margin: 0 auto;
    }

    .img_list .list {
        width: 316px;
        height: 316px;
        float: left;
        position: relative;
        margin: 0 0 20px 20px;
    }

    .img_list .list:nth-child(3n-2) {
        margin-left: 0;
    }

    .img_list .img_box::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
    }

    .main_list .img_box .image_title_box h2 {
        font-size: 18px;
    }

    .img_box .image_title_box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        display: none;
    }

    .img_list .img_box:hover .image_title_box,
    .img_list .img_box:focus .image_title_box {
        display: block;
    }

    .img_list .img_box:hover::after,
    .img_list .img_box:focus::after {
        background-color: rgba(255, 255, 255, 0.3);
    }

    /* 매인 폼영역 */
    .main_form {
        padding: 60px 0 60px 0;
        width: 988px;
        margin: 0 auto;
        background: url(../image/bg_pencil.png)no-repeat;
        background-position: right 0 bottom 130px;
    }

    .main_form .title_box {
        float: left;
        text-align: left;
        width: 290px;
    }

    .main_form .title_box .title {
        font-size: 42px;
    }

    .main_form .title_box .subtitle {
        font-size: 18px;
    }

    .main_form .form_box {
        float: right;
        width: 590px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 50px 50px 40px 50px;
    }

    .main_form .send_box {
        cursor: pointer;
    }

    /* 매인공지사항 영역 */
    .main_notice {
        width: 988px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .main_notice .creators .title,
    .main_notice .partners .title {
        float: left;
        margin-right: 20px;
    }

    /* 뷰 제목영역 */
    .view_title_box {
        padding: 40px 0 30px 0;
    }

    .view_title {
        width: 988px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .view_title .category {
        width: 685px;
    }

    .view_title li {
        float: left;
        width: 50%;
    }

    .view_title .title {
        font-size: 36px;
        padding-bottom: 20px;
    }

    /* 뷰 정보영역 */
    .food_info {
        width: 988px;
        margin: 0 auto;
    }
}