html,
body {
    margin: 0;
    padding: 0;
    min-width: 1080px;
    min-height: 100%;
}

.UpperBackground {
    background-color: #000;
    width: 100%;
    height: 120px;
}

.header {
    display: flex;
    align-items: center;
    width: 1080px;
    height: 100%;
    background: pink;
    margin: 0 auto;
}

.header span {
    padding-left: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.MiddleBackground {
    background-color: #fffacd;
    width: 1080px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
}

.menu {
    width: 1000px;
    height: 33px;
    margin: 0 auto;
}

.menu div {
    float: left;
}

.menu>.table_btn {
    background: white;
    width: 322px;
    height: 100%;
    border: 1px solid #d1d1d1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu>.table_btn:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.menu>.table_btn span {
    font-size: 16px;
    color: #000;
}

.menu>.form_btn {
    background: white;
    width: 322px;
    height: 100%;
    border: 1px solid #d1d1d1;
    margin-left: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu>.form_btn:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.menu>.form_btn span {
    font-size: 16px;
    color: #000;
}

.menu>.list_btn {
    background: white;
    width: 322px;
    height: 100%;
    border: 1px solid #d1d1d1;
    margin-left: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu>.list_btn:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.menu>.list_btn span {
    font-size: 16px;
    color: #000;
}

.main {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.phrase span {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.phrase hr {
    margin-top: 20px;
    border: 1px solid #454545;
}

.div_table {
    margin-top: 30px;
    height: auto;
    border: 1px solid #d1d1d1;
    background-color: white;
}

.table_contents {
    width: 940px;
    height: 12px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.table_contents span {
    font-size: 12px;
    color: #000;
}

.form_table {
    margin-top: 30px;
    height: auto;
    border: 1px solid #d1d1d1;
    background-color: white;
}

.form_contents {
    width: 940px;
    height: 12px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.form_contents span {
    font-size: 12px;
    color: #000;
}

.list_table {
    margin-top: 30px;
    margin-bottom: 40px;
    height: auto;
    border: 1px solid #d1d1d1;
    background-color: white;
}

.list_contents {
    width: 940px;
    height: 12px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.list_contents span {
    font-size: 12px;
    color: #000;
}

.upper {
    width: 100%;
    height: 46px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
}

.upper span {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 120px;
    text-align: center;
    border: 1px solid #d1d1d1;
    background-color: white;
}

.footer>.info {
    margin-top: 20px;
}

.footer>.copyright {
    margin-top: 5px;
    margin-left: 30px;
}

.footer>.info span {
    font-size: 12px;
    color: #999;
}

.footer>.copyright span {
    font-size: 12px;
    color: #000;
}