@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    min-width: 1080px;
    min-height: 100%;
    position: relative;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

/*
 header 영역
*/

.header_container {
    height: 120px;
    background-color: #000;
}

.header_container>.header {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.header_container>.header>.logo {
    display: inline;
    line-height: 120px;
    vertical-align: middle;
    margin-left: 40px;
}

.header_container>.header>.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

/*
중간영역(Menu,Contents..)  
*/

.MiddleBackground {
    width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu {
    width: 1000px;
    height: 33px;
    margin: 0 auto;
}

.menu>.btn_group {
    float: left;
    border: 1px solid #d1d1d1;
    width: 322px;
    height: 31px;
    text-align: center;
    text-decoration: none;
}

.menu>.btn_group+a {
    margin-left: 14px;
}

.menu>.btn_group span {
    color: #000;
    font-size: 16px;
    line-height: 33px;
    vertical-align: middle;
}

.menu>.btn_group:hover {
    border-color: #454545;
    font-weight: bold;
}

.main {
    width: 1000px;
    margin: 50px auto 0px;
}

.main>.phrase {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #454545;
}

.content_container{
    margin-top: 30px;
    border: 1px solid #d1d1d1; 
}

.upper {
    height: 45px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d1d1d1;
}

.upper h3 {
    display: inline;
    margin-left: 15px;
    line-height: 45px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.div_contents {
    margin: 30px;
}

.div_contents>.table_main {
    /*추후 콘텐츠코드추가*/
    font-size: 12px;
    color: #000;
}

.div_contents>.form_main {
    /*추후 콘텐츠코드추가*/
    font-size: 12px;
    color: #000;
}

.div_contents>.list_main {
    /*추후 콘텐츠코드추가*/
    font-size: 12px;
    color: #000;
}

/*
 footer 영역 
*/

.footer {
    position: absolute;
    width: 100%;
    height: 120px;
    border: 1px solid #d1d1d1;
    text-align: center;
}

.footer>.info {
    margin-top: 20px;
}

.footer>.copyright {
    margin-top: 5px;
    margin-left: 30px;
}

.footer>.info span {
    font-size: 12px;
    color: #999;
}

.footer>.copyright span {
    font-size: 12px;
    color: #000;
}
